.navbar-brand{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
   
}
.navbar{
    background-color: rgb(75, 105, 120, 0.8);
}

.navbar-nav li>a{
    color: rgb(229, 229, 229);
}