<app-moderna-navbar></app-moderna-navbar>
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="fs-lg-3 fs-md-1 fs-sm-1">Welcome to Moderna</h2>
          <p class="fs-lg-2 fs-md-1 fs-sm-1">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#" class="btn-get-started">Read More</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="fs-lg-3 fs-md-1 fs-sm-1">Lorem Ipsum Dolor</h2>
          <p class="fs-lg-2 fs-md-1 fs-sm-1">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started">Read More</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="fs-lg-3 fs-md-1 fs-sm-1">Sequi ea ut et est quaerat</h2>
          <p class="fs-lg-2 fs-md-1 fs-sm-1">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started">Read More</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
    </a>
  </div>
</section>

<app-moderna-services></app-moderna-services>
<app-moderna-features></app-moderna-features>
<app-moderna-footer></app-moderna-footer>